[Unit]
Description=Shadowsocks URI Generator Server
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/etc/shadowsocks-uri-generator
ExecStart=/usr/bin/ss-uri-gen-server

[Install]
WantedBy=multi-user.target
