[Unit]
Description=Shadowsocks URI Generator Server service
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=%h/.config/shadowsocks-uri-generator
ExecStart=/usr/bin/ss-uri-gen-server

[Install]
WantedBy=multi-user.target default.target
