[Unit]
Description=Shadowsocks URI Generator Telegram Bot
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=%E/shadowsocks-uri-generator
ExecStart=/usr/bin/ss-uri-gen-chatbot-telegram

[Install]
WantedBy=default.target
