[Unit]
Description=Shadowsocks URI Generator Server
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=%E/shadowsocks-uri-generator
ExecStart=/usr/bin/ss-uri-gen-server

[Install]
WantedBy=default.target
