[Unit]
Description=Shadowsocks URI Generator service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/ss-uri-gen service --interval 3600 --pull-outline-server
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes
Restart=on-abnormal
RestartSec=3s

[Install]
WantedBy=multi-user.target default.target
