name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish_upload:
    name: Publish and upload
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9'

      - name: Restore dependencies
        run: dotnet restore

      # Publish
      - name: Define MSBuild properties
        run: echo "MSBUILD_PROPS=-p:PublishSingleFile=true -p:PublishTrimmed=true -p:TrimMode=link -p:DebuggerSupport=false -p:EnableUnsafeBinaryFormatterSerialization=false -p:EnableUnsafeUTF7Encoding=false -p:InvariantGlobalization=true" >> $GITHUB_ENV

      - name: Publish framework-dependent
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release --no-restore
          dotnet publish ShadowsocksUriGenerator.Server -c Release --no-restore
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release --no-restore
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release --no-restore

      - name: Publish self-contained for Linux ARM64
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release $MSBUILD_PROPS -r linux-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Server -c Release $MSBUILD_PROPS -r linux-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release $MSBUILD_PROPS -r linux-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release $MSBUILD_PROPS -r linux-arm64 --self-contained

      - name: Publish self-contained for Linux x64
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release $MSBUILD_PROPS -r linux-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Server -c Release $MSBUILD_PROPS -r linux-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release $MSBUILD_PROPS -r linux-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release $MSBUILD_PROPS -r linux-x64 --self-contained

      - name: Publish self-contained for Windows ARM64
        if: matrix.os == 'windows-latest'
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release $MSBUILD_PROPS -r win-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Server -c Release $MSBUILD_PROPS -r win-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release $MSBUILD_PROPS -r win-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release $MSBUILD_PROPS -r win-arm64 --self-contained

      - name: Publish self-contained for Windows x64
        if: matrix.os == 'windows-latest'
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release $MSBUILD_PROPS -r win-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Server -c Release $MSBUILD_PROPS -r win-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release $MSBUILD_PROPS -r win-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release $MSBUILD_PROPS -r win-x64 --self-contained

      - name: Publish self-contained for macOS ARM64
        if: matrix.os == 'macos-latest'
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release $MSBUILD_PROPS -r osx-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Server -c Release $MSBUILD_PROPS -r osx-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release $MSBUILD_PROPS -r osx-arm64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release $MSBUILD_PROPS -r osx-arm64 --self-contained

      - name: Publish self-contained for macOS x64
        if: matrix.os == 'macos-latest'
        run: |
          dotnet publish ShadowsocksUriGenerator.CLI -c Release $MSBUILD_PROPS -r osx-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Server -c Release $MSBUILD_PROPS -r osx-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Rescue.CLI -c Release $MSBUILD_PROPS -r osx-x64 --self-contained
          dotnet publish ShadowsocksUriGenerator.Chatbot.Telegram -c Release $MSBUILD_PROPS -r osx-x64 --self-contained

      # Package
      - name: Package for Linux
        if: matrix.os == 'ubuntu-latest'
        env:
          ZSTD_CLEVEL: 19
          ZSTD_NBTHREADS: 2
        run: |
          # ShadowsocksUriGenerator.CLI
          cd ShadowsocksUriGenerator.CLI/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-${{ github.ref_name }}-linux.tar.zst .
          cd ../linux-arm64/publish
          tar -acf ../../ss-uri-gen-${{ github.ref_name }}-linux-arm64.tar.zst .
          cd ../../linux-x64/publish
          tar -acf ../../ss-uri-gen-${{ github.ref_name }}-linux-x64.tar.zst .
          # ShadowsocksUriGenerator.Server
          cd ../../../../../../ShadowsocksUriGenerator.Server/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-server-${{ github.ref_name }}-linux.tar.zst .
          cd ../linux-arm64/publish
          tar -acf ../../ss-uri-gen-server-${{ github.ref_name }}-linux-arm64.tar.zst .
          cd ../../linux-x64/publish
          tar -acf ../../ss-uri-gen-server-${{ github.ref_name }}-linux-x64.tar.zst .
          # ShadowsocksUriGenerator.Rescue.CLI
          cd ../../../../../../ShadowsocksUriGenerator.Rescue.CLI/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-rescue-${{ github.ref_name }}-linux.tar.zst .
          cd ../linux-arm64/publish
          tar -acf ../../ss-uri-gen-rescue-${{ github.ref_name }}-linux-arm64.tar.zst .
          cd ../../linux-x64/publish
          tar -acf ../../ss-uri-gen-rescue-${{ github.ref_name }}-linux-x64.tar.zst .
          # ShadowsocksUriGenerator.Chatbot.Telegram
          cd ../../../../../../ShadowsocksUriGenerator.Chatbot.Telegram/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-linux.tar.zst .
          cd ../linux-arm64/publish
          tar -acf ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-linux-arm64.tar.zst .
          cd ../../linux-x64/publish
          tar -acf ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-linux-x64.tar.zst .

      - name: Package for macOS
        if: matrix.os == 'macos-latest'
        env:
          ZSTD_CLEVEL: 19
          ZSTD_NBTHREADS: 2
        run: |
          # ShadowsocksUriGenerator.CLI
          cd ShadowsocksUriGenerator.CLI/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-${{ github.ref_name }}-osx.tar.zst .
          cd ../osx-arm64/publish
          tar -acf ../../ss-uri-gen-${{ github.ref_name }}-osx-arm64.tar.zst .
          cd ../../osx-x64/publish
          tar -acf ../../ss-uri-gen-${{ github.ref_name }}-osx-x64.tar.zst .
          # ShadowsocksUriGenerator.Server
          cd ../../../../../../ShadowsocksUriGenerator.Server/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-server-${{ github.ref_name }}-osx.tar.zst .
          cd ../osx-arm64/publish
          tar -acf ../../ss-uri-gen-server-${{ github.ref_name }}-osx-arm64.tar.zst .
          cd ../../osx-x64/publish
          tar -acf ../../ss-uri-gen-server-${{ github.ref_name }}-osx-x64.tar.zst .
          # ShadowsocksUriGenerator.Rescue.CLI
          cd ../../../../../../ShadowsocksUriGenerator.Rescue.CLI/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-rescue-${{ github.ref_name }}-osx.tar.zst .
          cd ../osx-arm64/publish
          tar -acf ../../ss-uri-gen-rescue-${{ github.ref_name }}-osx-arm64.tar.zst .
          cd ../../osx-x64/publish
          tar -acf ../../ss-uri-gen-rescue-${{ github.ref_name }}-osx-x64.tar.zst .
          # ShadowsocksUriGenerator.Chatbot.Telegram
          cd ../../../../../../ShadowsocksUriGenerator.Chatbot.Telegram/bin/Release/net9.0/publish
          tar -acf ../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-osx.tar.zst .
          cd ../osx-arm64/publish
          tar -acf ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-osx-arm64.tar.zst .
          cd ../../osx-x64/publish
          tar -acf ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-osx-x64.tar.zst .

      - name: Package for Windows
        if: matrix.os == 'windows-latest'
        run: |
          # ShadowsocksUriGenerator.CLI
          cd ShadowsocksUriGenerator.CLI/bin/Release/net9.0/publish
          7z a -tzip -mx=9 -mfb=128 ../ss-uri-gen-${{ github.ref_name }}-windows.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../ss-uri-gen-${{ github.ref_name }}-windows.7z .
          cd ../win-arm64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-${{ github.ref_name }}-windows-arm64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-${{ github.ref_name }}-windows-arm64.7z .
          cd ../../win-x64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-${{ github.ref_name }}-windows-x64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-${{ github.ref_name }}-windows-x64.7z .
          # ShadowsocksUriGenerator.Server
          cd ../../../../../../ShadowsocksUriGenerator.Server/bin/Release/net9.0/publish
          7z a -tzip -mx=9 -mfb=128 ../ss-uri-gen-server-${{ github.ref_name }}-windows.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../ss-uri-gen-server-${{ github.ref_name }}-windows.7z .
          cd ../win-arm64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-server-${{ github.ref_name }}-windows-arm64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-server-${{ github.ref_name }}-windows-arm64.7z .
          cd ../../win-x64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-server-${{ github.ref_name }}-windows-x64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-server-${{ github.ref_name }}-windows-x64.7z .
          # ShadowsocksUriGenerator.Rescue.CLI
          cd ../../../../../../ShadowsocksUriGenerator.Rescue.CLI/bin/Release/net9.0/publish
          7z a -tzip -mx=9 -mfb=128 ../ss-uri-gen-rescue-${{ github.ref_name }}-windows.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../ss-uri-gen-rescue-${{ github.ref_name }}-windows.7z .
          cd ../win-arm64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-rescue-${{ github.ref_name }}-windows-arm64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-rescue-${{ github.ref_name }}-windows-arm64.7z .
          cd ../../win-x64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-rescue-${{ github.ref_name }}-windows-x64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-rescue-${{ github.ref_name }}-windows-x64.7z .
          # ShadowsocksUriGenerator.Chatbot.Telegram
          cd ../../../../../../ShadowsocksUriGenerator.Chatbot.Telegram/bin/Release/net9.0/publish
          7z a -tzip -mx=9 -mfb=128 ../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-windows.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-windows.7z .
          cd ../win-arm64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-windows-arm64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-windows-arm64.7z .
          cd ../../win-x64/publish
          7z a -tzip -mx=9 -mfb=128 ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-windows-x64.zip .
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on ../../ss-uri-gen-chatbot-telegram-${{ github.ref_name }}-windows-x64.7z .

      # Release
      - name: Upload release assets for Linux and macOS
        uses: svenstaro/upload-release-action@v2
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ShadowsocksUriGenerator.*/bin/Release/net9.0/*.tar.zst
          tag: ${{ github.ref }}
          file_glob: true
          draft: true

      - name: Upload release assets for Windows
        uses: svenstaro/upload-release-action@v2
        if: matrix.os == 'windows-latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ShadowsocksUriGenerator.*/bin/Release/net9.0/ss-uri-gen-*-windows*.*
          tag: ${{ github.ref }}
          file_glob: true
          draft: true

      # NuGet
      - name: Package and upload NuGet package
        if: matrix.os == 'ubuntu-latest'
        run: |
          dotnet pack ShadowsocksUriGenerator -c Release
          dotnet nuget push ShadowsocksUriGenerator/bin/Release/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
